@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
table{
    width: 80%;
    font-family: 'Righteous', cursive;
    
}

.img {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    margin-top: 15px;
}
.col{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;}
@media screen and (min-width: 600px){

    .img {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        margin-top: 15px;
    }

    .colm {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.col{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;}
}

@media screen and (min-width: 700px){

    .img {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
        margin-top: 15px;
    }
}

img { 
    max-width:100%;
    height: auto;
}
html{
    scroll-behavior: smooth;
}



thead tr{
    background-image: linear-gradient(#6acf6a, #57b50a);
    color: gold;
    
}
th{
    border: 1px solid black;
    background-image: linear-gradient(#d03542, #91010d);
    padding: 10px;
}
td{
    border: 1px solid black;
    background-image: linear-gradient(#373837, #060606);
    color: gold;
    padding: 20px;
}
.valo{
    font-family: 'Righteous', cursive;
    background-image: linear-gradient(#373837, #060606);
    
    color: red;
    padding: 20px
    
}
.h1{
    font-family: 'Righteous', cursive;
    background-image: linear-gradient(#373837, #060606);
    color: red;
    padding: 10px

}
legend{
    font-family: 'Righteous', cursive;
    
    

}
p{
    font-family: 'Righteous', cursive;
    background-image: linear-gradient(#373837, #060606);
    color: white;
    padding: 10px;
    
}
body{
    background-image: linear-gradient(#373837, #060606); 
}
fieldset{
    color: white;
    background-image: linear-gradient(#373837, #060606); 
    font-family: 'Righteous', cursive;
    
}
.colm {
    display: grid;

}
h2{
    font-family: 'Righteous', cursive;
    color: white
}
.upp{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    background: rgb(133, 7, 7);
    border-radius: 50%;
    color: rgb(248, 244, 0);
    font-size: 2em;
    }
    a{
        text-decoration: none
    }
    
        .contain{
            max-width: 56.4em;
            margin:0 auto;
            padding: 30px;
            color: white
            
        }

        


@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@media screen and (max-width: 600px) {
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      text-align: right;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
    }
  }
